/* Modo oscuro para toda la página */
body {
  background-color: #121212;
  color: #e0e0e0;
}

/* Encabezados y enlaces en modo oscuro */
h1, h2, nav a {
  color: #bb86fc;
}

/* Estilo de textarea y elementos de formulario en modo oscuro */
textarea, .form-control {
  margin-left: 5vw;
  width: 90vw;
  background-color: #1e1e1e;
  color: #e0e0e0;
  border: 1px solid #bb86fc;
}

/* Placeholder de elementos de formulario */
.form-control::placeholder {
  color: #888888;
}

/* Botón en modo oscuro */
button {
  background-color: #03dac6;
  color: #121212;
  border: none;
  transition: background-color 0.3s, color 0.3s; /* Transiciones suaves */
}

button:hover {
  background-color: #018786;
  color: #ffffff;
}

/* Estilo para centrar los textos */
.text-center {
  text-align: center;
}

/* Estilo de navegación */
nav {
  background-color: #1e1e1e;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  display: flex;
  gap: 15px;
  justify-content: center;
  max-width: 800px;
  margin: 0 auto;
}

nav a {
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s;
}

nav a:hover {
  color: #03dac6;
}
