<h2 class="h4 text-center text-secondary">Analizador</h2>
<textarea
  [(ngModel)]="userText"
  class="form-control"
  rows="5"
  placeholder="Ingresa el texto a analizar"
  (keyup)="updatePosition($event)" 
  (click)="updatePosition($event)" 
  (input)="updatePosition($event)"
></textarea>
<!-- Indicaciones de Línea y Columna -->
<div class="line-column-info">
  <p>Línea: {{ line }}</p>
  <p>Columna: {{ column }}</p>
</div>
<div class="text-center">
  <button (click)="analizar()" class="btn btn-success">Ejecutar</button>
</div>

@if (showApiMessage) {
<div class="container">
  <div class="card border-danger shadow-lg text-center">
    <h1 class="display-6 mb-3">{{ idCaptcha }}</h1>
    <h2 class="display-6">
      <a href="{{ url }}">{{ url }}</a>
    </h2>
    <button (click)="closeMenssage()">Cerrar</button>
  </div>
</div>

}
