<div class="body-symbol">
    <h1> Debugging SCRIPTING : {{ id }}</h1>
  
    <div class="code-area" id="codeArea"></div>
  
    <table id="variablesTable">
      <thead>
        <tr>
          <th>Linea</th>
          <th>Identificador</th>
          <th>Tipo</th>
          <th>Modo</th>
          <th>Procedimiento</th>
        </tr>
      </thead>
      <tbody>
        <!-- Filas dinámicas generadas por JavaScript -->
      </tbody>
    </table>
  
    <button id="nextButton">Siguiente</button>
</div>
